h4,h5{
	margin: 0 0;
	display: inline;
}
.inline{
	display: inline;
}

.img-left-div{
	width: 15%;
}
.bar-img{
	margin: 0 auto;
	margin-bottom: -6%;
}

.center_sea{
	margin-bottom:-4% ;
	padding: 3pt 5pt;
}.img-left{
	width: 90%;
	margin-bottom: -35%;
	margin-left: -15%;
}
.black-h5{
	color:black !important;
	font-size: 90%;
	margin-left: -6%;
}
.top-nav{
	top:0pt ;
	position:fixed

}
.echart-big{
	width: 90%;
	height: 250pt;
	margin-left: 5%;
}
#echartleft{
	
	width: 50%;
	height: 120pt;
	float: left;
	margin-top: 10%;
	text-align: center;
}
#echartright{
	float: right;
	width: 50%;
	height: 120pt;
	margin-top: 10%;
	text-align: center;
}

.chart2{
	margin: 5% 5%;
}
.echartline{
	width:90%;
	height: 200pt;
	margin-bottom: 25%;
	margin-left: 5%;
}
.head-top{
	background-color: #41B17C;
}
.white-text{
	color: white !important;
}
.green-text{
	color: #468181;
}
.x-bc{
	background-color: #C1C2C2;
}
.y-bc{
	background-color: #FEB23C;
}
.img-left-used{
	width: 30pt; 
	height: 20pt !important;
	margin-right: 5% !important;
}
.jdtj{
	text-align: center;
	margin: 0 auto;
	margin-top: 5pt;
	font-color: white;
	border: 0pt solid #61c094;
	border-radius: 50%;
	background-color: #FB9D1F;
	width: 80pt;
	height:80pt;
	padding: 7pt;
}
.gssy{
	background-color:#54D897;
	text-align: center;
	margin: 0 auto;
	margin-top: 5pt;
	font-color: white;
	border: 0pt solid #61c094;
	border-radius: 50%;
	width: 80pt;
	height:80pt;
	padding: 9pt;
}
.jdtj>h4,h5,hr{
	color: white;
}
.gssy>h4,h7,hr{
	color: white;
}

