.mui-table h4,.mui-table h5,.mui-table .mui-h5,.mui-table .mui-h6,.mui-table p{
	margin-top: 0;
   }
.mui-table h4{
    line-height: 21px;
    font-weight: 500;
   }
.mui-table .oa-icon{
	position: absolute;
	right:0;
	bottom: 0;
	}
.mui-table .oa-icon-star-filled{
	color:#f14e41;
    }
.img-left{
	width: 40%;
	margin-bottom: 20%;
	margin-top: 20%;
	margin-left: 20%;
	margin-right: 20%;
}
.img-left-ad{
	width: 70%;
	margin: 0 auto;
	margin-bottom: -30%;
	max-width: 50pt;
	position: absolute;
	top:10%;
}
.center_sea{
	margin-bottom:-4% ;
	margin-top:-2pt;
	padding: 3pt 5pt;
}
.img-left-div{
	width: 38pt;
	position:relative;
	
}
.bar-img{
	margin: 0 auto;
	margin-bottom: -6%;
}
.info-btn{
	background-color: #FEB23C;
	border: 0pt solid;
	border-radius: 10pt;
	height: 25pt;
	color: white;
	margin-right:0;
	margin-top: 5%;
	/*position: absolute;*/
	/*top: 50%;*/

}
.top-info{
	height: 30pt !important;
}
.h5-big{
	font-size: 120%;
	color: black;
}
.allimg{
	width: 15pt;
	margin: 0 auto;
	margin-left: 5%;
}
.h4-big{
	font-size: 12pt;
	color: black;
	margin-left: 5pt;
}
.left-10{
	margin-left: 10pt;
}

.head-top{
	background-color: #41B17C;
}
.white-text{
	color: white !important;
}

.img-annontaion{
	max-width: 9pt;
}
.mui-table-view-cell:after{
	left:5px;
	right:5px;
}
.logoff{
	margin:5pt 10pt;
}
